
.navbar {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 2px;
  gap: 20px;
  cursor: pointer;
}

.menuitem {
  list-style: none;
  position: relative;
}

.megamenu {
  position: absolute;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 15px;
  display: none;
  gap: 15px;
  color: rgb(7, 24, 24);
}
li:hover .megamenu {
    display: flex;
  }
.column{
    color: brown;
}
